body{
	background: #eee;
	font-family: verdana;
}
h2 span{
	color: #0088CC;
}
h3 span{
	color: #0088CC;	
}
p strong{
	color: #0088CC;
}
.heading{
	font-size: 30px;
	color: #0088CC;
}
.text-center{
	text-align: center;
}
.form-container{
	width: 500px;
	background: white;
	border: 1px solid #ccc;
	min-height: 300px;
	margin-top: 20px;
	margin: 0px auto;
	border-radius: 5px;
	padding: 10px;
}
.thumbnail{
	padding: 20px;
	border-radius: 5px;
}