body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #FFFFFF;
    font-weight: 400;
    margin-bottom: 30px;
    font-family: "Titillium Web", "Lucida Grande", sans-serif;
    text-align: center;
}  
.ar{
    color: black;
}
.font-thin {
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
}

.font-semibold {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
}

.font-light {
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
}
.jumbotron {
    background-color: #f4511e;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
}
.container-fluid {
    padding: 60px 50px;
}
.bg-grey {
    background-color: #f6f6f6;
}
.text{
    color: black;
}
.logo-small {
    color: #f4511e;
    font-size: 50px;
}
.logo {
    color: #f4511e;
    font-size: 200px;
}
.thumbnail {
    padding: 40px 10px 35px 0;
    border-width: 6px;
    border-color: black;
    border-radius: 8px;
    background-color: #99CCCC;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
}
.carousel-indicators li {
    border-color: #f4511e;
}
.carousel-indicators li.active {
    background-color: #f4511e;
}
.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
    font-family: 
}
.item span {
    font-style: normal;
}
.panel {
    border: 1px solid #f4511e; 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
   
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
}
.panel-heading {
    color: #fff !important;
    background-color: #f4511e !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
    animation: mymove 5s infinite;
}

@-webkit-keyframes mymove {
    from {background-color: #FF6633;}
    to {background-color: #FF9933;}
}
.panel-footer {
    background-color: white !important;
}
.panel-footer h3 {
    font-size: 32px;
}
.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}
.panel-footer{
    margin: 15px 0;
    background-color: #FF6633;
    color: #FF6633;
}

.btn{
    background-color: #336666;
}

.btn1{
    background-color: #D9853B;
    border-color: black;
    color:#fff;
}

.navbar {
    margin-bottom: 0;
    background-color: #f4511e;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
}
.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;	
    animation-duration: 1s;	
    -webkit-animation-duration: 1s;
    visibility: visible;			
}
@keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }	
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
      width: 100%;
      margin-bottom: 35px;
  }
}
@media screen and (max-width: 480px) {
  .logo {
      font-size: 150px;
  }
}

#slide-2 {
    background-color: #1abc9c;
    color: #e4e6e5;
    padding-top: 90px;
    text-align: center;
}

#slide-3 {
    background-color: #558C89;
    color: #e4e6e5;
    padding-top: 90px;
    text-align: center;
}

#slide-4 {
    background-color: #D9853B;
    color: #e4e6e5;
    padding-top: 90px;
    text-align: center;
}



.title-row {
        font-size: 45px;
        padding-bottom: 50px;
    }
    
    .line-row .hr {
        background-color: #e4e6e5;
        height: 5px;
        margin: 0 auto;
        width: 30%;
    }
    .hr1{
        background-color: #e4e6e5;
        height: 5px;
        margin: 0 auto;
        width: 20%;
    }
    .hr2{
        background-color: #e4e6e5;
        height: 5px;
        margin: 0 auto;
        width: 12%;
    }
    .hr3{
        background-color: #e4e6e5;
        height: 5px;
        margin: 0 auto;
        width: 15%;
    }

    .subtitle-row {
        font-size: 35px;
        padding-bottom: 40px;
        padding-top: 40px;
    }
    
    .content-row {
        padding-top: 45px;
    }
    
    .content-row i,
    #about-row-5 i {
        display: block;
        margin: 0 auto;
        max-height: 100%;
        max-width: 100%;
    }
    
    .content-row h2 {
        font-size: 28px;
        padding-bottom: 40px;
    }
    
    .content-row h4 {
        font-family: "Titillium Web", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        font-size: 20px;
        font-weight: 300;
    }
    
    i {
        font-size: 80px;
        color: white;
        text-align: center;
    }


/* Changes for carousel*/
.carousel-inner img {
         
    width: 100%; /* Set width to 100% */
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

/* changes of carousel ends */

/* changes for slide 3*/


/* changes for slide 3 ends */